<div class="container mt-4">
    <h1 class="mb-4">Order Details</h1>
    <div class="row justify-content-center mb-4">
        <div class="col-md-3 mb-2">
            <select class="form-select rounded-pill px-3" [(ngModel)]="searchType">
              <option value="" disabled selected hidden>Select search type</option>
              <option value="id">Search by Order ID</option>
              <option value="date">Search by Date</option>
            </select>
          </div>
          
      
        <div class="col-md-6 position-relative">
          <input
            [type]="searchType === 'date' ? 'date' : 'text'"
            class="form-control rounded-pill px-4 pe-5"
            [placeholder]="searchType === 'id' ? '🔍 Search by ID...' : searchType === 'date' ? '📅 Search by date (YYYY-MM-DD)...' : 'Search here..'"
            [(ngModel)]="searchQuery"
            (input)="onSearch()"
          />
          
          <button
            class="btn btn-sm btn-link text-danger position-absolute top-50 end-0 translate-middle-y me-3"
            (click)="clearSearch()"
            style="text-decoration: none;"
          >
            ✖
          </button>
        </div>
      </div>
      
      
      
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;">Order ID</th>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;">Ordered time</th>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;">TotalAmount</th>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;">PaymentMethod</th>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;"></th>
          <th style="text-align: left !important; background-color: var(--primary-color); color: white;"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cart of carts">
          <tr>
            <td>{{ cart.orderId }}</td>
            <td>{{ cart.createdAt | date:'short'}}</td>
            <td>{{currency}}{{ cart.totalAmount }}</td>
            <td>{{ cart.paymentMethod }}</td>
            <td>
              <button mat-icon-button (click)="deleteOrder(cart)" >
                <mat-icon style="color: rgb(193, 2, 2) !important;">delete</mat-icon>
              </button>              
            </td>
            <td>
              <button mat-icon-button (click)="cart.expanded = !cart.expanded"  class="expand-btn">
                <mat-icon style="color: white !important;">{{ cart.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="cart.expanded">
            <td colspan="5">
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Order Items
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <table class="table table-sm table-striped">
                  <thead class="table-secondary">
                    <tr>
                      <th style="text-align: left !important; background-color: var(--secondary-color); color: white;">Item</th>
                      <th style="text-align: left !important; background-color: var(--secondary-color); color: white;">Quantity</th>
                      <th style="text-align: left !important; background-color: var(--secondary-color); color: white;">Price</th>
                      <th style="text-align: left !important; background-color: var(--secondary-color); color: white;">Total</th>
                      <th style="text-align: left !important; background-color: var(--secondary-color); color: white;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of cart.items">
                      <td>{{ item.name }}</td>
                      <td>{{ item.product.isPartialAllowed && item.size ? item.size : item.quantity }} {{item.product.isPartialAllowed ? (item.product.unit) : ''}}</td>
                      <td>{{currency}}{{ item.price }}</td>
                      <td>{{currency}}{{ item.total}}</td>
                      <td class="text-center">
                        <button 
                          class="btn btn-outline-primary btn-sm rounded-pill px-3 custom-btn-style" (click)="viewProduct(item)">
                          View
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  