<div class="sidebar" [class.open]="isOpen">
    <button class="close-btn" (click)="onClose()">×</button>
    <ul>
      <li><a href="#" (click)="navigateToHome($event)">Home</a></li>
      <li><a href="#" (click)="navigateTo('/sales-order-process', $event)">Sales</a></li>
      <li><a href="#" (click)="navigateTo('/view-products', $event)">Products</a></li>
      <li><a href="#" (click)="navigateTo('/add-product', $event)">Add product</a></li>
      <li><a href="#" (click)="navigateTo('/view-orders', $event)">Orders</a></li>
      <li><a href="#" (click)="navigateTo('/settings', $event)">Settings</a></li>
    </ul>
  </div>
  