<!-- app.component.html -->
<div class="app-container">
  <app-header  (toggle)="isSidebarOpen = !isSidebarOpen"></app-header>
  <app-slider [isOpen]="isSidebarOpen" (close)="toggleSidebar()"></app-slider>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  
  <!-- Floating Home Button -->
  <app-floating-home-button></app-floating-home-button>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade"
  [fullScreen]="true">
</ngx-spinner>


