<!-- app.component.html -->
<div class="app-container">
  <!-- Header and navigation only for authenticated pages -->
  <app-header *ngIf="!isAuthPage" (toggle)="isSidebarOpen = !isSidebarOpen"></app-header>
  <app-slider *ngIf="!isAuthPage" [isOpen]="isSidebarOpen" (close)="toggleSidebar()"></app-slider>
  
  <!-- Main content -->
  <router-outlet></router-outlet>
  
  <!-- Footer only for authenticated pages -->
  <app-footer *ngIf="!isAuthPage"></app-footer>
  
  <!-- Floating Home Button only for authenticated pages -->
  <app-floating-home-button *ngIf="!isAuthPage"></app-floating-home-button>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade"
  [fullScreen]="true">
</ngx-spinner>


